@{
    ViewData["Title"] = "Espace Étudiant";
}

<div class="container mt-5">
    <h1>Bienvenue dans votre espace Étudiant</h1>
    <p>C'est ici que vous pouvez consulter vos cours et candidatures.</p>
</div>