@model Acadimy.Models.Live.LiveClass

<div class="container mt-4">
    <h3>Créer Live Class</h3>

    <form asp-action="Create" method="post">
        <input asp-for="Title" class="form-control mb-3" placeholder="Titre" />

        <button class="btn btn-success">Créer</button>
    </form>
</div>